*{
    text-align: center;
}
h1{
    font-family: 'Courier New', Courier, monospace;
    border-style: dashed;
    border-color: blue;
    border-width: 10px;
    background-image: url(https://images.pexels.com/photos/1227511/pexels-photo-1227511.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500);
}
header p{
    background-color: black;
    color: white;
}
nav{
    font-family: Arial, Helvetica, sans-serif;
    border-style: solid;
    border-color: blue;
    border-width: 5px;
    border-radius: 100px;  
    background-color: yellow;
}
h3{
    font-family: Arial, Helvetica, sans-serif;
}
p{
    font-style: italic;
}
#noticias-destacadas, #motores-de-busqueda, #diarios, #finanzas, #libros {
    float: left;
    width: 50%;
    background-color: aquamarine;
}
#noticias-destacadas:hover, #motores-de-busqueda:hover, #diarios:hover, #finanzas:hover, #libros:hover {
    background-color: white;
    border-color: red; /* Cambia esto */
}
footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    font-family: 'Courier New', Courier, monospace;
    background-color: gray;
    color: white;
}