{% extends 'base_layout.html' %}

{% block content %}
<h1>Tareas completadas!</h1><br/>
<ul>
    {% for task in tasks %}
    <li>
        <a href="{% url 'task_detail' task.id %}">
            {% if task.important %}
            <h1>{{task.title}}</h1>
        {% else%}
            <h5>{{task.title}}</h5>
        {% endif%}

            <p>{{task.description}}<p>    
            <p>{{task.user.username}}<p> 
            <p>{{task.datecompleted|date:'M j Y:i'}}<p> 
        </a>

    </li>

    {% endfor %}
</ul>

{% endblock %}