{% extends 'base_layout.html' %}
{% block content %}
<main class="container">
    <div class="row">
        <div class="col-md-4 offset-md-4">
            <form method="POST" class="card card-body text-center">
                <h1>Signup</h1>
                {{error}}
                {% csrf_token %}
                    {{form}}
                    <button class="btn btn-primary">
                        Registrar
                    </button>
            </form>
        </div>
    </div>
</main>
{% endblock %}